.select-multi-helper {
    position: relative;
}
.select-multi-helper input.helper {
    margin: 4px 0;
}
.select-multi-helper .versions {
    position: absolute;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0;
    left: 0;
    z-index: 9999;
    max-height: 240px;
    overflow-y: auto;
    width: 100%;
}
.select-multi-helper .versions a {
    color: #222;
    text-decoration: none;
    margin: 5px 8px;
    display: table;
}
.select-multi-helper .versions a:after {
    content: "\a";
    white-space: pre;
}
.select-multi-helper select[multiple] {
    display: none;
}
.select-multi-helper div.labels {
    position: relative;
    display: block;
    padding: 5px 0;
}
.select-multi-helper div.labels b {
    display: inline-block;
    border-radius: 4px;
    padding: 2px 1px 3px 5px;
    margin: 0 5px 5px 0;
    font-weight: 400;
    color: #666;
    font-size: 13px;
    border: solid 1px #ddd;
    background-color: #f6f6f6;
}
.select-multi-helper div.labels b i {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 0 0 5px;
    cursor: pointer;
    color: #d4d4d4;
}
.select-multi-helper div.labels b i:hover {
    color: #666;
}
.select-multi-helper div.labels b i:before {
    content: "\f00d";
    font: normal normal normal 14px/1 FontAwesome;
=======
.select-multi-helper {
    position: relative;
}
.select-multi-helper input.helper {
    margin: 4px 0;
}
.select-multi-helper .versions {
    position: absolute;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0;
    left: 0;
    z-index: 9999;
    max-height: 240px;
    overflow-y: auto;
    width: 100%;
    margin-top: 5px;
}
.select-multi-helper .versions a {
    color: #222;
    text-decoration: none;
    margin: 5px 8px;
    display: table;
}
.select-multi-helper .versions a:after {
    content: "\a";
    white-space: pre;
}
.select-multi-helper select[multiple] {
    display: none;
}
.select-multi-helper div.labels {
    position: relative;
    display: block;
    padding: 5px 0;
}
.select-multi-helper div.labels b {
    display: inline-block;
    border-radius: 4px;
    padding: 2px 1px 3px 5px;
    margin: 2px;
    font-weight: 400;
    color: #222;
    font-size: 13px;
    border: solid 1px #ddd;
    background-color: #ffffff;
}
.select-multi-helper div.labels b i {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 0 0 5px;
    cursor: pointer;
    color: #d4d4d4;
}
.select-multi-helper div.labels b i:hover {
    color: #666;
}
.select-multi-helper div.labels b i:before {
    content: "\f00d";
    font: normal normal normal 14px/1 FontAwesome;
}


label.select-multi-helper {
    border-radius: 2px;
    background-color: #fbfbfb;
    border: solid 1px #ddd;
    margin: 10px 0 0 0;
    padding: 2px;
    min-height: 40px;
    display: block;
}
label.select-multi-helper div.labels {
    position: relative;
    display: inline;
    padding: 0 0;
    min-height: 26px;
}
label.select-multi-helper input.helper {
    display: inline-block;
    width: auto;
    max-width: 150px;
    border: none;
    height: 30px;
    min-height: 30px;
    vertical-align: top;
    margin: 0 2px !important;
    padding: 0 !important;
}
label.select-multi-helper input.helper:invalid,
label.select-multi-helper input.helper:-moz-ui-invalid,
label.select-multi-helper input.helper:-moz-submit-invalid
{
    box-shadow: none;
}